@model EntityLayer.Concrete.New
@{
    ViewData["Title"] = "NewDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-8 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description font-weight-bold">@Model.Title</p>
            <form class="forms-sample" >
                @Html.HiddenFor(x => x.NewID, new { @class = "form-control" })

                <div class="form-group">
                    <label>İçerik</label>
                    @Model.Description
                </div>
                <div class="form-group">

                    <img src="@Model.ImageURL" 
                         class="w-50 h-50"/>
                </div>
                <div class="form-group">
                    @Model.Category
                </div>
               
            </form>
        </div>
    </div>
</div>
